*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;}

:root{
   --main-color: #0F172A;
   --content-font: Helvetica;
   --navbar-font: "Montserrat";
   --second-color: #8892B0;
   --third-color: #CCD6F6;
   --shade-color: #1E293B;}

html {
    scroll-behavior: smooth;}
    
body{
    background-color: var(--main-color);
    background: linear-gradient(270deg, rgba(15,23,42,1) 0%, rgba(30,41,59,1) 80%); 
    height: 250vh;
    overflow-x: hidden;}

#ancor1{
    width: 20px;
    height: 20px;
    margin-top: -360px;}

/*Loader wrapper-----------------*/ 
#loader-wrapper{
    width: 100%;
    height: 100%;
    background: #0F172A url(/IMG/loader.svg) no-repeat center center;
    overflow-y: hidden;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1000;}

#loader-wrapper .loader-text{
    color: var(--third-color);
    text-align: center;
    margin-left: 10px;
    position: absolute;
    margin-top: 31%;
    font-family: var(--content-font);
    letter-spacing: 3px;}

/*Mobile loader wrapper-----------------*/ 
@media (max-width: 600px){
    #loader-wrapper .loader-text{
        padding: 90%;
    }
}

/*Desktop navbar-----------------*/ 
#NavStyle{
    background-color: transparent;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    height: 13vh;
    transition: all 0.5s;
    position: fixed;}

#NavStyle #Nav-Content{
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 70px;
    padding-top: 20px;}

#NavStyle li{
    display: inline-block;
    padding: 15px;
    text-align: center;
    transition: all 0.2s;}

#NavStyle li a{
    font-family: "Montserrat";
    text-decoration: none;
    letter-spacing: 1px;
    color: #f4f4f4;
    font-size: 17px;
    font-family: var(--navbar-font);
    transition: 0.5s;}


#Nav-Content i{
    color: var(--second-color);
    font-family: "Montserrat";
    text-decoration: none;
    padding-left: 20px;}

#Nav-Content  a:hover{
    color: #8892B0;
    transition: 0.5s;}

#Nav-Content li span{
    font-family: Helvetica;
    color: var(--third-color);
    font-size: 15px;
    padding-right: 5px;
    font-weight: 600;
    font-family: var(--navbar-font)}

.logo{
    width: 8%;
    border-radius: 2px;
    position: absolute;
    margin: 25px 50px;
    transition: all 0.2s;}


/*Navbar scroll effect-----------------*/ 
#NavStyle.scroll{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: transparent;
    height: 11vh;
    box-shadow: 0px 1px 1px;
    transition: all 0.3s;}
    
#NavStyle.scroll li{
    margin-top: 0px;
    transition: all 0.5s}

#NavStyle.scroll .logo{
    transition: all 0.2s;}

#menu-icon{
    display: none;}


/*Desktop navbar-----------------*/
@media (min-width: 1920px){
    #NavStyle{
        height: 12vh}

    #NavStyle #Nav-Content{
        padding-top: 25px;}

    #NavStyle.scroll{
        height: 10vh;}

    .logo{
        width: 7%;}
}

/*Mobile navbar-----------------*/ 
@media (max-width: 600px){
    #NavStyle{
        box-shadow: none;
        transition: all 0.5s;}

    #NavStyle #Nav-Content{
        display: none;}
        
    #menu-icon{
        display: flex;
        margin: 33px 320px;
        width: 35px;
        color: #8892B0; }

    .logo{
        margin: 30px 0px;
        width: 32%;
        transition: 0.2s;
        z-index: -1;}

    #NavStyle.scroll{
        height: 12vh;
        transition: all 0.2s;}

    #NavStyle.scroll .logo{
        margin: 30px 0px;}
}


/* Mobile menu-----------------*/ 
#menu-icon-close  {
    position: absolute;
    margin: 30px 200px;
    width: 35px;
    color: #8892B0;}

#mobile-nav{
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(80px);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 30px -10px;
    height: 100%;
    right: 0;
    top: 0;
    position: fixed;
    display: flex;
    z-index: 300;
    transition: all 0.2s ease-in-out;}

#mobile-content{
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    transition: all 0.5s ease-in;}

#close-icon{
    position: absolute;
    top: 0px;
    margin: 50px;
    font-size: px;}

#mobile-content li span{
    color:#8892B0;
    font-family: Helvetica;
    font-weight: 800;
    font-size: 25px;;
    padding-right: 25px;}

#mobile-nav li{
    text-decoration: none;
    padding: 25px;}

#mobile-nav li a{
    color: white;
    font-family: "Montserrat";
    letter-spacing: 1px;
    font-size: 20px;}

#mobile-nav a:hover{
    color: #CCD6F6;
    transition: all 0.2;}

#mobile-nav  a::before{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 3px;
    margin: 32px 45px;;
    width: 0px;
    background-color: #CCD6F6;
    transition: 0.2s ease-in-out;}

#mobile-nav a:hover::before{
    width: 130px;
    transition: 0.2s;}

/*Typing animation and main header-----------------*/ 
.header-box{
    display: grid;
    margin-left: 300px;
    margin-top: 220px;}

.main-header{
    width: 13ch;
    color: var(--second-color);
    font-family: var(--content-font);
    font-size: 80px;
    animation: typing 2s steps(12), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;}

@keyframes typing {
    from {
        width: 0}
}
    
@keyframes cursor{
    50% {border-color: white;};
}
          
@keyframes blink {
    50% {
        border-color: transparent}
}

.main-header-2{
    color: var(--third-color);
    font-family: Helvetica;
    padding-top: 5px;
    font-size: 80px;
    overflow: hidden;}

.subtitle-main-header{
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px; 
    padding-top: 20px;
    padding-left: 5px;}

/*Desktop main header-----------------*/ 
@media (min-width: 1920px){
    .header-box{
        margin-left: 400px;
        margin-top: 350px}
}

/*Mobile main header -----------------*/ 
@media (max-width: 600px){
    .header-box{
        margin: 220px 25px;
    }
    .main-header{
        width: 11ch;
        font-size: 50px;}

    .main-header-2{
        font-size: 45px;}
        
    .subtitle-main-header{
        font-size: 15px;}
}


/*Get in touch button-----------------*/ 
.get-in-touch{
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    width: 15%;
    height: 45px;
    margin: 30px 0px;
    position: relative;
    overflow: hidden;
    border: 0.2px solid #8892B0;
    transition: all 0.3s;
    border-radius: 6px;
    box-shadow: black 0px 15px 30px -10px;  }

.get-in-touch a{
    font: Inconsolata, monospace;
    font-size: 16px;
    color: white;
    word-spacing: 0px;
    letter-spacing: 1px;
    transition: all 0.3s ;}
       
.get-in-touch:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #8892B0;
    height: 150px;
    width: 300px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all .7s;}
       
.get-in-touch:hover, .get-in-touch:hover a{
    transform: translateY(-5px);
    color: #0F172A;}

.get-in-touch:hover:before {
    top: -30px;
    left: -30px;}


/*Arrow down link section-----------------*/ 
.arrow-down{
    color: var(--third-color);
    margin: 13% 35%;
    width: 0px;
    transition: 0.3s;}

.arrow-down:hover{
    transform: translateY(5px);
    transition: 0.5s;
    color: var(--second-color) ;}


/*Get in touch button and arrow-----------------*/ 
@media (max-width: 600px){
    .get-in-touch{
        display: inline-block; 
        width: 150px;
        height: 40px;}

    .get-in-touch a{
        display: inline;
        font-size: 15px;
        color: white;
        width: 200px;}

    .arrow-down{
        margin: 25% 47%;
        font-size: 20px}}

/*Whoami (About me)-----------------*/ 
#ancor2{
    height: 20px;
    width: 20px;
    position: absolute;
    margin: 20px;}

#whoami{
    height: 800px;
    margin: 100px;}

.header-whoami{
    color: white;
    padding-top: 150px;
    margin: 0px 210px;
    position: absolute;
    font-family: var(--content-font);
    font-size: 40px;}

.header-whoami:before{
    content: "";
    border-top: solid 1px var(--second-color);
    width: 202px;
    height: 2px;
    position: absolute;
    margin: 25px 240px;}

.index-whoami{
    color: var(--third-color);
    font: 20px Inconsolata, monospace;
    padding-right: 5px;}

#whoami-box{
    background-color: var(--main-color);
    height: 420px;
    width: 50%;
    border-radius: 5px;
    position: absolute;
    margin: 240px 210px;
    box-shadow: black 0px 15px 30px -10px;}

#whoami-box h1{
    color: var(--third-color);
    font-size: 15px;
    font: 1.3rem Inconsolata, monospace;
    padding:  30px 20px;
    word-spacing: 1px;}

#whoami-box .terminal-menu{
    background-color: var(--shade-color) ;
    height: 22px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;}

.close-icon{
    margin-left: 97%;
    padding-top: 2px;
    color: orange ;
    position: absolute;}

.full-screen{
    margin-left: 94.4%;
    padding-top: 2px;
    color: var(--second-color);
    position: absolute;}

.minimize-screen{
    padding-top: 2px;
    padding-left: 92%;
    position: absolute;
    color: var(--second-color)}

.content{
    padding: 55px 15px;
    font-family: "Montserrat";
    font-size: 18px;
    word-spacing: 1px;
    color: var(--second-color);}

.link-to-project{
    color: white;
    text-decoration: underline;}

.link-to-project:hover{
    color: var(--second-color);
    animation: 0.2s;}

.evidence{
    color: white;}
    
.vector-img{
    margin: -300px 620px;
    width: 60%;
    position: absolute;}


/*Desktop whoami-----------------*/
@media (min-width: 1920px){
    .header-whoami{
        padding-top: 150px;
        margin: 0px 355px;}
    #whoami-box{
        margin: 240px 350px;}

    .vector-img{
        margin: -300px 740px;
        width: 60%;}
}

/*Mobile whoami (About me)-----------------*/ 
@media (max-width: 600px){
    #whoami{
        width: 100%;
        margin: 0px;}

    .vector-img{
        display: none}

    .header-whoami{
        margin: -200px 20px;
        position: relative;
        font-size: 30px;}
    
    .index-whoami{
        font: 20px Inconsolata, monospace;}

    .header-whoami:before{
        width: 130px;
        width: 150px;
        margin: 20px 180px;}

    #whoami-box{
        margin: 220px 0px;
        position: absolute;
        width: 100%;
        margin-left: 1px;
        height: 550px;
        background-color: transparent;
        box-shadow: none; }

    #whoami-box .terminal-menu{
        display: none;}

    .content{
        padding: 50px 10px;
        word-spacing: 0.5px; 
        width: 350px;
        word-break: normal;}      
}



/*Skills-----------------*/
#skills{
    height: 1050px;
    margin-top: 200px;}

#skills .header-skills{
    color: white;
    font-family: var(--content-font);
    font-size: 40px;  
    margin: 200px 550px;
    position: absolute;}

.header-skills:before {
    content: "";
    border-top: solid 1px var(--second-color);
    width: 200px;
    height: 2px; 
    position: absolute;
    margin: 25px 315px}

.subtitle-skill{
    font: 15px Inconsolata, monospace;
    margin: 265px 550px; 
    color: var(--second-color);
    position: absolute; }
        
.index-skills{
    color:  var(--third-color);
    font: 20px Inconsolata, monospace;
    padding-right: 5px;}


.skill-container {
    width: 600px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    margin: 320px 490px;}

.skill-item {
    width: 150px;
    background-color: var(--main-color);
    height: 35px;
    text-align: center;
    border-radius: 5px;
    margin: 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.2s ease; 
    cursor: pointer;}

.skill-name {
    display: flex;
    justify-content: center;
    align-items: center;}
    
.skill-name img{
    display: block;
    margin: 0 auto;}

.skill-item:hover{
    transform: scale(1.1);
    transition: 0.2s;}

/*Desktop skills */
@media (min-width: 1920px){
    #skills .header-skills{
        margin: 200px 720px;}
    .subtitle-skill{
        margin: 265px 720px;}
    .skill-container{
        margin: 320px 660px;}
}

/*Mobile skills-----------------*/ 
@media (max-width: 600px) {
    #skills{
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
        padding-right: 5px;
        margin: 0px;
        padding-top: 150px;}

    #ancor3{
        height: 20px;
        width: 20px;
        bottom: 130px;
        position: relative;}

    #skills .header-skills {
        font-size: 35px;
        text-align: center;
        margin: 0px 0px;}
    
    .subtitle-skill {
        margin: 60px 0%;
        font-size: 12px;
        text-align: center;
        width: 99%;}

    .header-skills:before {
        margin: 125px 35px;}

    .skill-container {
      margin: 180px -10px;
      width: 400px;}
    
    .skill-item {
        height: 40px;
        width: 150px;
        margin: 8px 8px;
    }
}


/*Projects-----------------*/ 
#ancor4{
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 160px;}

#projects{
    width: 100%;
    position: relative;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}

.index-projects{
    color:  var(--third-color);
    font: 20px Inconsolata, monospace;
    padding-right: 5px;}

.header-projects{
    color: white;
    margin: 0px -520px;
    font-family: var(--content-font);
    font-size: 35px;   
    position: absolute;
    left: 840px;
    top: 0;}

.projects-container{
    width: 1500px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 120px 0px 0px 160px;}

.project-item{
    background-color: #0F172A;
    height: 300px;
    width: 500px;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 20px 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}

#fa-folder{
    color: var(--third-color);
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 25px;}

.header-projects::after{
    content: "";
    border-top: solid 1px var(--second-color);
    width: 200px;
    height: 2px;
    position: absolute;
    margin: 22px 20px;}

.project-status{
    background-color: var(--shade-color);
    height: 25px;
    width: 140px;
    position: absolute;
    border-radius: 8px;
    left: 20px;
    top: 260px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: center;}

.project-status div{
    color: white;
    font-family: "Montserrat";
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 12px ;
    margin: 5px;
    color: lightgreen;}

.project-status div span{
    color: var(--third-color);}

.project-title{
    color: var(--third-color);
    font-family: "Montserrat";
    position: absolute; 
    top: 80px;
    left: 59px;}

.project-dscp{
    color: white;
    font: 14px Inconsolata, monospace ;
    left: 60px;
    position: absolute;}

.project-dscp::before{
    content: "▹";
    position: absolute;
    margin: 5px -20px;
    line-height: 10px;
    color: var(--second-color)}

.project-link{
    width: 60px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 10px;}

#fa-icon{
    font-size: 30px;
    color: var(--third-color);
    transition: 0.3s;}

#fa-icon:hover{
    transform: translateY(-5px);
    transition: 0.3s;}

/*Desktop project */
@media (min-width: 1920px){
    .header-projects{
        margin: 0px -400px;}

    .project-item{
        height: 300px;
        width: 500px;}

    .projects-container{
        margin: 120px 520px;}
}
/*Mobile projects-----------------*/ 
@media (max-width: 600px) {
    #projects{
        margin: -200px 0px;}
    
    .header-projects{
        color: white;
        margin: 0px 0px;
        font-size: 30px;   
        left: 20px;
        top: 0;}

    .header-projects::after{
        width: 80px;
        top: -3px;
        left: 250px;}

    .projects-container{
        width: 400px;
        margin: 80px 0px 0px 0px;}

    .project-title{
        left: 25px;
        font-weight: 700;}

    .project-dscp{
        font-size: 13px;
        top: 125px;
        left: 27px;
        width: 330px}

    .project-dscp::before{
        top: -2px;
        left: 6px;}
}


/*Shape-----------------*/ 
.shape-divider-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);}

.shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 450px;
    transform-origin: bottom;
    animation: waveAnimation 8s ease-in-out infinite;}

.shape-divider-bottom .shape-fill {
    fill: #0F172A;}

.shape-divider-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;}

@keyframes waveAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0);
    }
}

/*Mobile shape-----------------*/ 

@media (max-width: 600px){
    .shape-divider-bottom svg{
        height: 330px;
    }
}




/*Contacts-----------------*/
.contact-column {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 70px;
    height: 100px;
    width: 2px; }

.contact-column::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 1px;
    background-color: var(--second-color);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 9999;}

.social-icons {
    position: absolute;
    bottom: 100px;
    z-index: 9999;
    left: 2px;}

.social-icons a {
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--third-color);
    text-decoration: none;
    transition: 0.2s;
    z-index: 9999; }


.social-icons a:hover{
    color: #f4f4f4;
    transition: 0.2s;}


/*Mobile contacts-----------------*/ 
@media (max-width: 600px) {
    .contact-column{
        position: relative;
        top: 1350px;
        right: 0;
        margin-left: 120px;
        height: 85px;
        width: 2px;}
    
    .contact-column::before {
        display: none;
        content: "";
        top: 0;
        right: 10px;
        bottom: 0;
        width: 1px;
        background-color: var(--third-color);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;}

    .social-icons a {
        font-size: 22px;
        margin-bottom: 15px;
        color: var(--third-color);
        text-decoration: none;
        transition: 0.2s;}
}



/*Credits-----------------*/ 

.credits{
    top: 450px;
    position: relative;
    height: 200px;
    width: 100%;}

.credits-content {
    color: var(--third-color);
    font-family: montserrat;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: -120px;}

.credits-content span{
    color: white;
    font-weight: 600;
    margin: 0 3px;}

.resources{
    color: white;
    font-family: "Montserrat";
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -150px;}

.resources span{
    color: var(--second-color);
    margin: 0px 3px;}


/*Desktop credits-----------------*/
@media (min-width: 1920px){
    .credits{
        top: 250px;}
}

@media (max-width: 600px){
    .credits{
        height: 200px;
        top: 1250px;}

    .credits-content{
        font-size: 14px;}

    .resources{
        font-size: 10px;}   
}

/*Back up-----------------*/ 
.back-up{
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 200px}

#arrow-up{
    color: var(--third-color);
    position: absolute;
    top: 70px;
    transition: 0.3s;}

#arrow-up:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    color: var(--second-color);
    cursor: pointer;}

@media (min-width: 1920px){
    .back-up{
        top: 0px;}
}
@media (max-width: 600px){
    #arrow-up{
        top: 900px;}
}


